<!-- Pagination -->
{% if pagination.hasPrev or pagination.hasNext %}
<nav class="pagination no-margin-bottom">
  {% if theme_config.showPageCount and theme_config.showPageCount != "false" %}
    <span class="page-number">{{ "PageNumber" }} {{ pagination.currentPage }} / {{ "PageCount" }} {{ pagination.totalPages }}</span>
  {% endif %}
  {% if pagination.hasPrev %}
    <span class="pre pagbuttons">
      <i class="fa fa-angle-double-left"></i>&nbsp;
      <a role="navigation" href="{{ pagination.prevURL }}" aria-label="{{ "prev" }}">{{ "prev" }}</a>
    </span>
  {% endif %}
  {% if pagination.hasNext %}
    <span>&nbsp;</span>
    <span class="next pagbuttons">
      <a role="navigation" href="{{ pagination.nextURL }}" aria-label="{{ "next" }}">{{ "next" }}</a>&nbsp;
      <i class="fa fa-angle-double-right"></i>
    </span>
  {% endif %}
</nav>
{% endif %}
