<!-- Pagination -->
{% if pagination.hasPrev or pagination.hasNext %}
<nav class="pagination no-margin-bottom">
    <p class="clearfix"></p>
    {% if theme_config.showPageCount and theme_config.showPageCount != "false" %}
    <p>{{ "PageNumber" }} {{ pagination.currentPage }} / {{ "PageCount" }} {{ pagination.totalPages }}&nbsp;</p>
    {% endif %}
    <p>
        {%- if pagination.hasPrev -%}
        <span class="pre pagbuttons">
            <i class="fa fa-angle-double-left"></i>&nbsp;
            <a role="navigation" href="{{ pagination.prevURL }}" aria-label="{{ "Previous" }}">{{ "Previous" }}</a>
        </span>
        {%- endif -%}
        {%- if pagination.hasNext -%}
        <span>&nbsp;</span>
        <span class="next pagbuttons">
            <a role="navigation" href="{{ pagination.nextURL }}" aria-label="{{ "Next" }}">{{ "Next" }}</a>&nbsp;
            <i class="fa fa-angle-double-right"></i>
        </span>
        {%- endif -%}
    </p>
    <p></p>
</nav>
{% endif %}