<div class="dove-comments" data-site-domain="{{ config.domain }}">
    <div class="dove-comments-image">
        <img src="/media/images/pigeon.svg" alt="信鸽">
        <p class="dove-comments-status">咕咕咕, 就快送到了</p>
    </div>
    <div class="dove-comments-content">
        <p class="dove-comments-title">哎呀，似乎评论系统在您的地区都无法正常工作。</p>
        <p class="dove-comments-instructions">不过不要担心，来看看我们为您准备的备用方案 ——<br>
            1. 将您的评论用信封装好<br>
            2. 使用信鸽函至&nbsp;<span class="dove-comments-domain">{{ config.domain }}</span><br>
            3. 我们在收到您的评论后将立即审核并更新至网站<br>
            <i><small>评论一经采用，信函恕不退还，信鸽也不退还，请知悉。</small></i>
        </p>
    </div>
</div>
